/**
ratio
*/
.cover, .cover-1-1, .cover-4-3, .cover-16-9 {
  -o-object-fit: cover;
     object-fit: cover;
}

.contain, .contain-1-1, .contain-4-3, .contain-16-9 {
  -o-object-fit: contain;
     object-fit: contain;
}

/**
Ratio mixin
*/
/**
img Ratio mixin
*/
.ratio-1-1, .cover-1-1, .contain-1-1 {
  aspect-ratio: 1;
}

.ratio-4-3, .cover-4-3, .contain-4-3 {
  aspect-ratio: 1.33333;
}

.ratio-16-9, .cover-16-9, .contain-16-9 {
  aspect-ratio: 1.77778;
}
